---
import './Saludo.css'
---


<div class="presentation-section">
    <div class="content-container">
      <div class="introduction">
        <h1 class="hero-text">
            Hola, soy
          <span class="gradient-text">Juan Da</span>
          <span class="gradient-text">Desarrollador Web Mobile</span> 
        </h1>
        <p class="description">
          Aprendiz SENA del Centro de Biotecnologia Industrial , Programador Junior Web y Mobile
          <span class="portfolio-link">React , Flutter ,Tauri</span> Marcos de trabajo con los cuales me siento a gusto
          Lenguajes que e aprendido en mi proceso formativo <span class="portfolio-link">Javascript , Python , Dart</span> Estos lenguajes e interactuado con ellos y me siento bastante cómodo con ellos.
        </p>
        <div class="social-links">
          <a href="#">
            <img src="https://s3-symbol-logo.tradingview.com/twitter--600.png" alt="Twitter icon">
          </a>
          <a href="#">
            <img src="https://upload.wikimedia.org/wikipedia/commons/thumb/b/b8/2021_Facebook_icon.svg/220px-2021_Facebook_icon.svg.png" alt="Facebook icon">
          </a>
          <a href="#">
            <img src="https://play-lh.googleusercontent.com/kMofEFLjobZy_bCuaiDogzBcUT-dz3BBbOrIEjJ-hqOabjK8ieuevGe6wlTD15QzOqw" alt="Linkedin icon">
          </a>
          <a href="#">
            <img src="https://upload.wikimedia.org/wikipedia/commons/thumb/6/6b/WhatsApp.svg/1200px-WhatsApp.svg.png" alt="Whatsapp icon">
          </a>
        </div>
      </div>
      <div class="avatar-container">
        <img src = '../../../public/avatar.jpeg' alt="Avatar image">
      </div>
    </div>
  </div>
  