---
import "./Saludo.css";
---

<div class="presentation-section">
  <div class="content-container">
    <div class="introduction">
      <h1 class="hero-text">
        Hola, soy
        <span class="hero-text">Juan Da Desarrollador</span>
        <h2 class="gradient-text"> Web y  Mobile</h2>
      </h1>
      <p class="description">
        Aprendiz del SENA en el Centro de Biotecnología Industrial, Programador
        Junior Web y Mobile. Me siento cómodo trabajando con los siguientes
        marcos de trabajo: <span class="portfolio-link">React, Flutter y Tauri</span>.
        Durante mi proceso formativo, he aprendido los siguientes lenguajes:
        <span class="portfolio-link">JavaScript, Python y Dart</span>. Me siento
        bastante cómodo interactuando con ellos.
    </p>
    
      <div class="social-links">
        <a href="#">
          <img
            src="https://s3-symbol-logo.tradingview.com/twitter--600.png"
            alt="Twitter icon"
          />
        </a>
        <a href="#">
          <img
            src="https://play-lh.googleusercontent.com/kMofEFLjobZy_bCuaiDogzBcUT-dz3BBbOrIEjJ-hqOabjK8ieuevGe6wlTD15QzOqw"
            alt="Linkedin icon"
          />
        </a>
        <a href="https://wa.link/2dbi3j">
          <img
            src="https://upload.wikimedia.org/wikipedia/commons/thumb/6/6b/WhatsApp.svg/1200px-WhatsApp.svg.png"
            alt="Whatsapp icon"
          />
        </a>
      </div>
    </div>
    <div class="avatar-container">
      <img src="../../../public/avatar.jpeg" alt="Avatar image" />
    </div>
  </div>
</div>
