.titulo {
  color:#22d3ee;
}

.skills {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}

.skill {
  width: 100%;
  max-width: 200px;
  margin-bottom: 15px;
  text-align: center;
}

.skill img {
  width: 100%;
  max-width: 100px;
  height: auto;
}

.skill-name, .skill-library {
  display: block;
  font-weight: bold;
}

.zoom {
  transition: transform .2s; 
}

.zoom:hover {
  transform: scale(1.3); 
}