.titulo {
  color:#22d3ee;
}

.skills {
  display: flex;
  flex-wrap: nowrap;
  justify-content: center;
}

.skill {
  width: 100%;
  margin-bottom: 15px;
  text-align: center;
}

.skill img {
  padding: 5%;
  width: 100%;
  max-width: 100px;
  height: auto;
}

.skill-name, .skill-library {
  display: block;
  font-weight: bold;
}

.zoom {
  transition: transform .2s; 
}

.zoom:hover {
  transform: scale(1.3); 
}
@media (width <= 425px){
  .skill img {
    width: 5em;
  }
}