---
import "./Skill.css";
---

<div class="presentation-section">
    <h1 class="titulo">Habilidades</h1>
    <div class="progress">
        <div class="progress-bar" style="width:100%;">
            <span class="progress-bar-text">Html</span>
            <span class="progress-bar-text">100%</span>
        </div>
        <div class="space"></div>
        <div class="progress-bar" style="width:90%;">
            <span class="progress-bar-text">Css</span>
            <span class="progress-bar-text">90%</span>
        </div>
        <div class="space"></div>
        <div class="progress-bar" style="width:50%;">
            <span class="progress-bar-text">Javascript</span>
            <span class="progress-bar-text">50%</span>
        </div>
        <div class="space"></div>
        <div class="progress-bar" style="width:10%;">
            <span class="progress-bar-text">Dart</span>
            <span class="progress-bar-text">10%</span>
        </div>
        <div class="space"></div>
        <div class="progress-bar" style="width:10%;">
            <span class="progress-bar-text">Python</span>
            <span class="progress-bar-text">10%</span>
        </div>
    </div>
</div>
