---
import "./Skill.css";
---

<div class="scroll-effect">
    <div class="presentation-section">
      <h1 class="titulo-principal">Habilidades</h1>
      <div class="skills">
        <div class="skill">
          <img class="zoom" src="https://cdn-icons-png.flaticon.com/512/732/732212.png" alt="HTML">
          <img class="zoom" src="https://cdn4.iconfinder.com/data/icons/social-media-logos-6/512/121-css3-512.png" alt="CSS">
          <img class="zoom" src="https://cdn-icons-png.flaticon.com/512/5968/5968292.png" alt="Javascript">
        </div>
        <div class="skill">
            <img class="zoom" src="https://cdn.freebiesupply.com/logos/large/2x/react-1-logo-png-transparent.png" alt="React">
            <img class="zoom" src="https://uxwing.com/wp-content/themes/uxwing/download/brands-and-social-media/flutter-icon.png" alt="Flutter">
            <img class="zoom" src="https://upload.wikimedia.org/wikipedia/commons/thumb/7/7e/Dart-logo.png/768px-Dart-logo.png" alt="Dart">
          </div>
        <div class="skill">
            <img class="zoom" src="https://upload.wikimedia.org/wikipedia/commons/thumb/c/c3/Python-logo-notext.svg/1869px-Python-logo-notext.svg.png" alt="Python">
            <img class="zoom" src="https://upload.wikimedia.org/wikipedia/commons/thumb/3/3f/Git_icon.svg/2048px-Git_icon.svg.png" alt="Git">
            <img class="zoom" src="https://static-00.iconduck.com/assets.00/node-js-icon-454x512-nztofx17.png" alt="Node.js">
          </div>
      </div>
    </div>
  </div>
  
