---
import './Proyectos.css'
---
<div class="scroll-effect">
<div class="contenedor">
    <h1 class="titulo-principal">Proyectos recientes</h1>
    <div class="tarjeta-proyecto">
      <img class="imagen-proyecto" src="../../../public/Bike_Store_Deskpot.png" alt="Diseño web de proyecto">
      <div class="informacion-proyecto">
        <h3 class="titulo-proyecto">Ecommers Bike Store</h3>
        <ul class="lista-tecnologias">
          <li class="tecnologia_1">React.js</li>
          <li class="tecnologia_2">Diseño web</li>
          <li class="tecnologia_3">Node.js</li>
          <li class="tecnologia_4">Javascript</li>
        </ul>
        <p class="descripcion-proyecto">Proyecto de practica para aplicar conocimientos basicos de React , Javascript y crear Backend con Node.js.</p>
      </div>
    </div>
    <div class="tarjeta-proyecto">
      <img class="imagen-proyecto" src="../../../public/inmuebles.jpeg" alt="Diseño web de proyecto">
      <div class="informacion-proyecto">
        <h3 class="titulo-proyecto">Escritorio AD_Inmubles</h3>
        <ul class="lista-tecnologias">
          <li class="tecnologia_1">React.js</li>
          <li class="tecnologia_2">Tauri </li>
          <li class="tecnologia_3">Node.js</li>
          <li class="tecnologia_4">Javascript</li>
        </ul>
        <p class="descripcion-proyecto">Proyecto de practica para aplicar conocimientos basicos de React , Javascript y crear Backend con Node.js.</p>
      </div>
    </div>
  </div>
</div>
  

  